<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../public/task-list.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/src/css/styles.css" />
		<title>Lista de Tareas</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar-title">Gestor de Tareas</div>
			<div class="navbar-links">
				<a href="/views/user.html" class="tab-link">Usuarios</a>
				<a href="/views/category.html" class="tab-link">Categorías</a>
			</div>
		</nav>

		<div class="container">
         <div class="task-input">
            <label>Nombre</label>
            <input type="text" id="title" placeholder="Nombre de la tarea" />
            <label>Descripción</label>
            <input type="text" id="description" placeholder="Descripción de la tarea" />
            <button onclick="createTask()">Agregar tarea</button>
         </div>

			<h2>Listado de tareas</h2>
			<button onclick="getTasks()">Obtener tareas</button>
			<ul id="taskList" class="task-list"></ul>

         <button onclick="getCompletedTasks()">Completas</button>
         <button onclick="getPendingTasks()">Pendientes</button>

			<h2>Elimación de tarea</h2>
			<div class="delete-task">
            <label>Id</label>
            <input type="text" id="id" placeholder="Identificador de la tarea" />
            <button onclick="deleteTask()">Eliminar tarea</button>
         </div>
		</div>

		<script type="module" src="/src/js/main.js"></script>
	</body>
</html>
