<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../public/task-list.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/src/css/shared-styles.css" />
		<title>Lista de Tareas</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar-title">Gestor de Tareas</div>
			<div class="navbar-links">
				<a href="/views/user.html" class="tab-link">Usuarios</a>
				<a href="/views/category.html" class="tab-link">Categorías</a>
			</div>
		</nav>

		<div>
			<h2>Lista de Tareas</h2>

			<div id="filters">
				<label for="userSelect">Usuario</label>
				<select id="userSelect" onchange="filterTaskByUser()"></select>

				<label for="stageSelect">Estado</label>
				<select id="stageSelect" onchange="filterTaskByStage()"></select>

				<label for="prioritySelect">Prioridad</label>
				<select id="prioritySelect" onchange="filterTaskByPriority()"></select>

				<label for="categorySelect">Categoría</label>
				<select id="categorySelect" onchange="filterTaskByCategory()"></select>

				<button onclick="cleanFilters()">Limpiar</button>
			</div>

			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Descripción</th>
						<th>Estado</th>
						<th>Prioridad</th>
						<th>Usuario</th>
						<th>Categoría</th>
					</tr>
				</thead>
				<tbody id="tasksList">
					<!-- Aquí se agregarán los empleados -->
				</tbody>
			</table>

			<span id="tasksByUser"></span>
		</div>

		<script type="module" src="/src/js/taskService.js"></script>
	</body>
</html>
